body{
	backgroundcolor: aquamarine;

	}

	div.shape{
		background-color: white;
		width: 100px;
		height: 100px;
		margin:10px;
	}

	h1 {
		color: blue;
	}

	div#circle{
		border-radius: 100%
	}

	#div34{
		width:1400px;
		height:300px;
		background-color: aquamarine;
	}

		