body{
	backgroundcolor: aquamarine;

	}
	#div34{
		width:1400px;
		height:360px;
		background-color: aquamarine;
		margin: -10px;
	}
		#myTable {
		    transform-rotate: 270deg;
		}

	h1 {
		color: white;
	}
	
	h2 {
		color: white;
	}

	div#circle{
		border-radius: 100%
	}

	div.shape{
	background-color: green;
		width: 100px;
		height: 100px;
		margin:	30px;
	}
	div#circle2{
		border-radius: 100%
	}
	/*div#circle3{
		border-radius: 100%
	}*/

